@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --left-space: 45px;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    height: 100vh;
}
#left{
    width: 38%;
    background-color: grey;
    background: url(./Image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#right{
    background-color: #f7f7f7;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#forms{
    height: 30%;
    background-color: white;
    box-shadow: 0px 7px 27px 0px darkgray;
}
#grey{
    margin-top: 12rem;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#readability{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 90px;
    height: auto;
}
#logoText{
    font-family: "Norse", sans-serif;
    font-size: 100px;
    color: white;
}
#copyright{
    color: #f7f7f7;
}
.upper{
    flex: 1;
    position: relative;
}
.lower{
    flex: 1;
    height: 35%;
    position: relative;
}
.quote{
    max-width: 730px;
    font-size:x-large;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 100px;
    left: var(--left-space);
}
.account{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: var(--left-space);
    justify-content: space-between;
    flex-wrap: nowrap;
}
[type="submit"]{
    background-color: #708A58;
    color: white;
    border: none;
}
#have{
    font-size: large;
    font-weight: 600;
}

